= render 'layouts/boiler'
.jumbotron
  .container
    %h1 Soon to be one sexy art blog
    %button{"class" => "btn btn-primary btn-lg", "data-toggle" => "modal", "data-target-" => "#myModal"}
      That button
      
      /modal time.
    .div{:class => "modal fade", :id => "myModal", :tabindex => "-1", :role => "dialog", :labbeledby => "myModalLabel"} 
      .div{:class => "modal-content"}
        .div{:class => "modal-header"}
          .modal-dialog{:role =>"document"}
            .modal-header
              %button{:type =>"button", :class =>"close", "data-dismiss" => "modal", "aria-label" => "Close"} 
                %span{"aria-hidden" => "true"}
              %h4{:class => "modal-title", :id => "modalLabel" } 
                This modals title!
            .modal-body
              %p I am the modal Body!!!!

            .modal-footer
              %button{"type" => "button", "class" => "btn btn-primary"}
                Save changes
