= render partial: 'layouts/top_menu'
.row
  .div{:class => "list-group col-md-2"}
    - @catergories.each do |proj|
      .div{:class =>"list-group-item"}
        = link_to "linkto #{proj.title}", proj.title

