/Top-Menu 
.container
  .row
    .top-menu
      .navbar.navbar-default.navbar-fixed-top
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/") Babbleblog
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "Projects", "projects"
            %li= link_to "Portfolio", "#"
            %li= link_to "About", "#"
/END Top-Menu 
